.hero-section {
  padding: 3rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-left {
  
  justify-content: center;
  align-items: center;
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero-image {
  width: 800px;
  height: auto;
  transition: transform 0.3s;
}

.hero-section-card p {
  margin: 0;
  color: #666;
}
