:root {
  --black: #1d2430;
  --red: #B31619;
}

html {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 100px;
}

.site-header-box {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #fcfaf6;
  border-bottom: solid 1px  var(--black);
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0rem;
  width: min(100% - 4rem, 1400px);
  margin: 0 auto;
  padding: 0rem 0;
}
.site-header img {
  width: 70px;
  padding: 1rem;
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 0rem;
  font-size: 1rem;
  font-weight: 500;
}

.site-nav a {
  border-radius: 999px;
  color: #180B0B;
  padding: 0.55rem 0.8rem;
  text-decoration: none;
  letter-spacing: 0;
}

.site-nav a.active,
.site-nav a:hover {
  color:#B31619;
}

@media (max-width: 720px) {

  .site-header {
    width: calc(100% - 2rem);
    margin: 0 auto;
    padding: 0.75rem 0;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    box-sizing: border-box;
  }

  /* Skjul JULIE WENDELBOE */
  .brand-name {
    display: none;
  }

  /* Logoet */
  .brand {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  .brand img {
    display: block;
    width: 55px;
    height: auto;
  }

  /* Navigationen */
  .site-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.35rem;
    font-size: 0.85rem;
    white-space: nowrap;
  }

  .site-nav a {
    padding: 0.4rem 0.45rem;
  }
}


@media (max-width: 480px) {

  .site-header {
    width: calc(100% - 1.5rem);
    padding: 0.8rem 0;
    gap: 0.75rem;
  }

  .brand img {
    width: 50px;
  }

  .site-nav {
    gap: 0.15rem;
    font-size: 0.78rem;
  }

  .site-nav a {
    padding: 0.35rem 0.3rem;
  }
}